.Skill {
  margin: 1em;
  padding: 1em;
  flex-basis: calc(25% - 2em);
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: background-color .5s, color .5s;
}

.Skill:before {
  margin-top: 60%;
  display: block;
  content: '';
}

.Skill svg {
  font-size: 200%;
  margin-bottom: .5em;
}

.Skill .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.Skill .content,
.Skill .content:hover,
.Skill .content:active,
.Skill .content:link,
.Skill .content:visited,
.Skill .content:focus {
  text-decoration: none;
}

.Skill .content span {
  text-align: center;
}

.Skill .content .icon {
  font-size: 250%;
  margin-bottom: .5rem;
}

@media screen and (max-width: 800px) {
  .Skill {
    flex-basis: calc(50% - 2em);
  }
}
