:root {
  --black: #252525;
  --gray: #555555;
  --light: #AAAAAA;
  --super-light: #EEEEEE;
  --white: #FFFFFF;
  --theme: #FFE400;
  --theme-light: #FEE934;
  --theme-super-light: #FFFA75;
  --shadow: 0 0 28px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.12);
}

.content {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fl1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flb50 {
  width: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx {
  margin-left: 1rem;
  margin-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-100 {
  width: 100%;
}

.sub {
  color: var(--light);
}

.ssub {
  color: var(--light);
  font-size: 85%;
}

.d-block {
  display: block;
}

.indicator {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.indicator-parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.indicator-parent > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.indicator-big.indicator {
  height: 5rem;
  width: 5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.indicator-big.indicator img {
  height: 4rem;
  width: 4rem;
}

.indicator .icon {
  font-size: 120%;
}

.indicator img {
  height: 1.8rem;
  display: block;
  width: 1.8rem;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body, html {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
  background-color: var(--super-light);
}

.icon {
  width: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sr-only {
  position: absolute;
  display: block;
  top: -9999px;
  left: -9999px;
}

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

button, .btn {
  cursor: pointer;
  padding: .5rem 1rem;
  background-color: var(--white);
  color: var(--black);
  border: 0;
  border-radius: 4px;
  margin: 1rem 0;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  font-size: 130%;
  text-transform: uppercase;
}

button-inverse, .btn-inverse {
  background-color: var(--theme);
}

.text-shadow {
  font-weight: bold;
  text-shadow: -1px -1px 0 #FFF,   1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

a, a:hover, a:focus, a:visited, a:link, a:active {
  text-decoration: none;
  color: var(--black);
}

.Nav {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: var(--white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.Nav a.Nav-logo {
  background-color: var(--theme);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 100%;
  font-size: 145%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav a.Nav-logo, .Nav a.Nav-logo:hover, .Nav a.Nav-logo:active, .Nav a.Nav-logo:focus, .Nav a.Nav-logo:link, .Nav a.Nav-logo:visited {
  color: var(--black);
}

.Nav-title {
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  font-size: 110%;
}

.Nav a {
  -webkit-transition: color .5s;
  transition: color .5s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5rem;
          flex: 0 1 5rem;
  font-size: 115%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav a:hover {
  color: var(--theme);
}

.transition {
  height: 7rem;
  display: block;
  width: 100%;
}

.transition i {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  bottom: -1px;
}

.transition-left i {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.transition-right i {
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

main {
  width: 100%;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100vh;
}

main .Header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 10;
  background-image: linear-gradient(170deg, var(--theme-light), var(--theme));
  color: var(--black);
}

main .Header-shape {
  position: absolute !important;
  height: 14rem;
  z-index: 2;
  top: calc(50% - 7rem) !important;
  left: calc(50% - 7rem) !important;
}

main .Header-hi {
  position: absolute !important;
  top: calc(50% - 3.5rem) !important;
  left: calc(50% - 3.5rem) !important;
  height: 5rem;
  font-size: 750%;
  z-index: 3;
}

main .Header-desc {
  position: absolute !important;
  top: calc(95vh - 9rem) !important;
  font-size: 200%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .Header-desc span {
  display: block;
  text-align: center;
}

main .Section {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

main .Section .section-title {
  color: var(--black);
  font-size: 250%;
  font-weight: bold;
}

main .Section-profile {
  background-color: var(--theme-super-light);
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Section-expertise {
  background-color: var(--white);
}

main .Section-more {
  background-color: var(--theme);
}

main .Section-contact {
  background-color: var(--white);
}

main .Section-contact-form {
  max-width: 1000px;
  margin: 0 auto;
}

main .Section-contact-form .input-group label {
  display: block;
  text-align: left;
}

main .Section-contact-form .input-group input, main .Section-contact-form .input-group textarea {
  display: block;
  padding: .5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid var(--theme-light);
}

main .Section-contact-form .form-result {
  color: #FF7777;
}

main .Section > ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

main .Section > ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  text-align: left;
}

main .Section > ul li h3 {
  text-align: left;
}

main .Section > ul li .icon {
  color: var(--theme);
  margin-right: .5rem;
}

.popup {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  z-index: 100;
  -webkit-transition: height .5s, top .5s;
  transition: height .5s, top .5s;
  background-color: rgba(20, 20, 20, 0.8);
}

.popup--deployed {
  top: 0;
  height: 100vh;
}

.popup-content {
  overflow: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100vh - 8rem);
          flex: 0 0 calc(100vh - 8rem);
  width: calc(100vw - 4rem);
  display: block;
  padding: 1rem;
  background-color: var(--white);
}

.popup-content img {
  border-radius: 5px;
}

.popup-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  width: calc(100vw - 2rem);
  background-color: var(--white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 101;
}

.popup-bar-separator {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popup-logo, .popup-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--theme);
  color: var(--black);
  background-color: var(--theme);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 100%;
  font-size: 145%;
}

.popup-close {
  cursor: pointer;
}

.Project {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
}

.Project-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5rem 0;
}

.Project-detail img {
  -o-object-fit: contain;
     object-fit: contain;
}

.Project-header {
  background-color: var(--white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
}

.Project-header-image {
  border-radius: 4px;
  max-height: 100vh;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin: 0 auto;
  display: block;
}

.Project-dribbble {
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.Project-tag, .Project-tech {
  background-color: var(--white);
  color: var(--black);
  padding: .3rem .7rem;
  display: inline-block;
  border-radius: 2rem;
  margin-top: .5rem;
  margin-right: 1rem;
  border: 1px solid var(--white);
}

.Project-link {
  border-radius: 4px;
  display: inline-block;
  margin: .5rem 1rem .5rem 0;
}

.Project-link, .Project-link:hover, .Project-link:active, .Project-link:focus, .Project-link:visited, .Project-link:link {
  color: var(--white);
}

.Project-link > span:first-child {
  height: 3rem;
  width: 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid var(--white);
  vertical-align: top;
  font-size: 150%;
}

.Project-link > span:nth-child(2n) {
  height: 3rem;
  padding: 0 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
}

.Project2 {
  display: inline-block;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.Project2 img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .5;
  -webkit-transition: opacity .5s, -webkit-filter .5s;
  transition: opacity .5s, -webkit-filter .5s;
  transition: filter .5s, opacity .5s;
  transition: filter .5s, opacity .5s, -webkit-filter .5s;
}

.Project2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 110%;
  display: block;
  -webkit-transition: top .5s;
  transition: top .5s;
}

.Project2-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.Project2-view h3 {
  padding: .5rem;
}

.Project2-view .wip-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  display: block;
  color: var(--white);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.Project2-view .wip-indicator span {
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 80%;
  font-weight: bold;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -.2rem;
  right: -.2rem;
}

.Project2:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.Project2:hover .Project2-overlay {
  top: -100%;
}

@media screen and (min-width: 800px) {
  main .Section > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Project-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .popup-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(80vh - 5rem);
            flex: 0 0 calc(80vh - 5rem);
    width: calc(80vw - 2rem);
  }
  .popup-bar {
    width: 80vw;
  }
  .flb50 {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */