.Network {
  margin: 1em;
  padding: 1em;
  flex-basis: calc(16.6666% - 2em);
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: background-color .5s, color .5s;
}

.Network:before {
  margin-top: 60%;
  display: block;
  content: '';
}

.Network .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.Network .content,
.Network .content:hover,
.Network .content:active,
.Network .content:link,
.Network .content:visited,
.Network .content:focus {
  text-decoration: none;
}

.Network .content span {
  text-align: center;
}

.Network .content .icon {
  font-size: 250%;
  margin-bottom: .5rem;
}

@media screen and (max-width: 800px) {
  .Network {
    flex-basis: calc(33.3333% - 2em);
  }
}
